<!DOCTYPE html>
<html ng-app="lazyWiki" lang="es">
<head>
    <meta charset="UTF-8">
    <title>LazyWiki</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-controller="mainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LazyWiki</a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a ng-click="saveDatabase()">Guardar cambios</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2 menu-bar" ng-controller="menuController">
            <ul>
                <li><a href="#/">Pagina principal</a></li>
                <li><a ng-click="getRandomPage()">Pagina aleatoria</a></li>
                <li ng-repeat="nav in navigation">
                    <div ng-if="!nav.items">
                        <a href="{{nav.link}}">{{ nav.title }}</a>
                    </div>
                    <div ng-if="nav.items">
                        <a><b>{{ nav.title }}</b></a>
                        <ul>
                            <li ng-repeat="sub in nav.items">
                                <a href="{{sub.link}}">{{ sub.title }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div ng-view></div>
        </div>
    </div>

    <script id="homeTpl" type="text/html">
        <h2>este es un template</h2>
        <a href="#wiki/is_5">ver</a>
    </script>

    <script id="articleTpl" type="text/html">
        <div  class="wiki-article">
            <div ng-if="!isNew">
                <h2 class="wiki-title">{{title}}&nbsp;&nbsp;<small><a href="#/wiki/{{routeName}}/edit">[editar]</a></small></h2>
                <small>De LazyWiki, mi wikipedia personal</small>
                <br>
                <br>
                <div ng-bind-html="toTrusted(content)"></div>
            </div>
            <div ng-if="isNew">
                <h2>Agregar articulo</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <form ng-submit="store()">
                            <div class="form-group">
                                <label for="txtTitle">Titulo</label>
                                <input type="text" class="form-control" id="txtTitle" ng-model="formData.title">
                            </div>
                            <div class="form-group">
                                <label for="txtContent">Contenido</label>
                                <textarea class="form-control" id="txtContent" rows="15" ng-model="formData.content"></textarea>
                                {{content}}
                            </div>
                            <button type="submit" class="btn btn-default">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="editArticleTpl" type="text/html">
        <div  class="wiki-article">
            <h2>Editar articulo</h2>
            <div class="row">
                <div class="col-sm-12">
                    <form ng-submit="store()">
                        <div class="form-group">
                            <label for="txtTitle">Titulo</label>
                            <input type="text" class="form-control" id="txtTitle" ng-model="formData.title">
                        </div>
                        <div class="form-group">
                            <label for="txtContent">Contenido</label>
                            <textarea class="form-control" id="txtContent" rows="15" ng-model="formData.content"></textarea>
                            {{content}}
                        </div>
                        <button type="submit" class="btn btn-default">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="scripts/tools.js"></script>
    <script src="scripts/wikieditor.js"></script>
    <script src="scripts/wikiTpl.js"></script>
    <script src="scripts/app.js"></script>
    <script src="assets/data.js"></script>
</body>
</html>