@import "globals.styl"

#article
  position relative
  height 100%
  h1
    text-align center
    margin-bottom 0
  .sub-title
    text-align  center
    font-size 12px
    padding 0
    color #cccccc

#noteContainer
  position absolute
  right 10px
  top 0
  width 50px
  background-color #00b3ee
  height 100%
  background url('../assets/dashed.png') center
  .note
    width 40px
    height 40px
    border 1px solid $gray
    background-color $white
    border-radius 20px
    margin 10px auto
    text-align center
    padding-top 9px
    cursor pointer
  .add-note
    width 25px
    height 25px
    border 1px solid $gray
    background-color $white
    border-radius 20px
    margin 10px auto
    text-align center
    padding-top 2px
    cursor pointer
    color $gray